[user]
    email = kaldownb@gmail.com
    name = kAldown

[core]
    hooksPath = /home/kaldown/.config/git/hooks
    pager = delta

[pull]
    rebase = false

[push]
    followTags = true

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    decorations = true
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[interactive]
    diffFilter = delta --color-only

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
